html,
body {
    margin: 0;
    padding: 0;
}

.area {
    background-color: #eee;
    height: 100vh;
    position: relative;
}

.area .box {
    height: 320px;
    width: 280px;
    text-align: center;
    background-color: rgb(15, 153, 67);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3%;
}

.area .box .note {
    color: #fff;
    font-weight: bold;
    font-size: larger;
    user-select: none;
}

.area .box>p {
    color: #fff;
    font-weight: bold;
    user-select: none;
}

.button {
    position: fixed;
    z-index: 10;
    margin-top: 840px;
    right: 30px;
    height: 60px;
    width: 100px;
    text-align: center;
    background-color: rgb(12, 58, 184);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
}

textarea {
    resize: none;
    user-select: none;
}

input {
    user-select: none;
}